#editor-picks {
    padding: 1rem;
}

#editor-picks .container {
    padding: 1rem;
}

#editor-picks .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#editor-picks h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}