header.main {
    background-color: var(--header-bg);
    color: var(--header-color);

    position: sticky;
    top: 0px;
    z-index: 2;

    padding: 0.5rem;
    transition-duration: 0.2s;

    box-shadow: 2px 0px 10px rgba(0,0,0,0.3);
}

header.main:hover {
    padding: 1rem;
}

header.main > div {
    display: grid;
    grid-template-columns: 7fr 4fr 1fr;
    align-items: center;
}

/*logo*/
.logo {
    align-self: center;
    width: 7rem;
    transition: 0.3s;
    display: block;
}

header.main:hover .logo {
    align-self: center;
    width: 8rem;
}

/*socials*/
#socials {
    padding: 0 1rem;
}
#socials > a > i {
    color: var(--header-color);
}