* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --header-color: #222;
    --header-bg: white;

    --footer-bg: #222;
    --footer-color: white;

    --body-color: black;
    --body-bg: #eee;
/* 
    --primary-color: rgb(180,10,10);
    --primary-color-hover: rgb(160,10,10); */
    --primary-color: rgb(255, 72, 0);
    --primary-color-hover: rgb(231, 65, 0);
    --secondary-color: rgb(255, 57, 57);
    --secondary-color-hover: rgb(255, 29, 29);

    /* --secondary-color: rgb(180,10,10);
    --secondary-color-hover: rgb(160,10,10);
    --primary-color: #ff932d;
    --primary-color-hover: #ffa52f; */
    /* --primary-color-hover: orange; */

    /* font-size: 10px; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-bg);
    color: var(--body-color);
    /* line-height: 1rem; */
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    transition-duration: 200ms;
}
.btn:hover {
    background-color: var(--primary-color-hover);
    /* opacity: 0.8; */
    color: white;
}

.btn.light {
    background-color: var(--secondary-color);
    color: white;
}

.btn.light:hover {
    background-color: var(--secondary-color-hover);
    color: white;
}


.primary-text {
    color: var(--primary-color);
}

.container {    
    max-width: 1000px;
    margin: auto;
}

/*custom*/

::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 50px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    opacity: 1;
}
