:root {
    font-size: 16px;
}

header.main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header.main {
    padding: 0.5rem;
}

header.main > div > * {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#socials {
    display: none;
}

/*cover*/

#cover .info .content {
    width: 100%;
    padding: 0.75rem;
}

#cover:hover, #cover {
    height: 400px;
}

#cover .info-lead {
    height: auto;
    line-height: 1.4rem;
    opacity: 1;
    font-size: 0.8rem;
    transform: translateY(0);
    
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-delay: 0.15s;
}
#cover .info-heading + .info-lead {
    margin-top: 1rem;
}

/*body*/

#editor-picks .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
#editor-picks, #editor-picks .container {
    padding: 1rem 0rem;
}
#editor-picks .container h1 {
    text-align: center;
}

.article-card, .article-card .info, .article-card .img {
    padding-right: 2vw;
    padding-left: 2vw;
}

.article-card.x2 {
    grid-column: auto / span 1;
    grid-row: auto / span 2;
    flex-direction: column;
}

footer.main .content {
    grid-template-columns: 1fr;
}

footer.main .footnote {
    grid-column: auto / span 1;
}

.btn {
    padding: 1em;
    font-size: 1em;
}